.notFoundContainer {
  text-align: center;
  min-height: calc(100vh - 4rem - 224px);
  padding-top: 4rem;
}

.notFoundContainer h1 {
  font-size: 8rem;
  line-height: 1;
  margin-top: 7rem;
  font-weight: 700;
}

.notFoundContainer p {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
