section {
  padding-top: 4rem;
}

.sectionInner {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.25rem;
  padding-bottom: 2rem;

  min-height: calc(100vh - 4rem - 224px);
}

.category {
  max-width: 100%;
  overflow-x: auto;
  padding: 0.5rem 0 3rem 2rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.category ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.btn {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1em;
  min-height: 3rem;
  font-weight: 600;
  border-width: 1px;
  border-color: hsl(262.35 80.315% 50.196% / 1);
  background-color: hsl(262.35 80.315% 50.196% / 1);
  color: hsl(0 0% 100% / 1);
}

.btnPrimary {
  border-color: hsl(262.35 80.315% 50.196% / 1);
  background-color: hsl(262.35 80.315% 50.196% / 1);
  color: hsl(0 0% 100% / 1);
}

.btnOutline {
  margin-left: 0.25rem;
  border: 1px solid rgb(166, 173, 187);
  background-color: transparent;
}
